html, body {
    height: 100%;
    font-family: "Cabin", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
body {
    background-image: url(images/gold%20lines.jpg)
    background-repeat: repeat-y;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
    font-family: "Lora", serif;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 16px;
}
p {
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    color: #6b6b6b;
    font-weight: 400;
    line-height: 26px;
    margin: 0 0 15px 0;
}

.section-footer{
    padding: 10px
}
.section-full-screen{
    height: 100vh
}
.icons {
    padding: 0px 12px 0px
}
.color1 {
    color: black
}
.color2 {
   color: white
}
.color3 {
   color: lightgray
}
.color4 {
    color: #6fc7c1
}
.color5 {
    color: #e4dcc4
}
a {
    color: white;
}

.bg-color1 {
    background: black
}
.bg-color2 {
   background: white
}
.bg-color3 {
   background: lightgray
}
.bg-color4 {
    background: #6fc7c1
}
.bg-color5 {
    background: #e4dcc4
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}